.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.4rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  border: 2px solid rgb(40, 89, 67, 0.3);
  transition: 300ms ease-in-out;

  &:hover {
    box-shadow: 0px 0px 9px 3px rgb(40, 89, 67, 0.3);
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;

  h3 {
    color: var(--verde-1);
    font-size: 2rem;
    font-weight: 600;
  }
}

.formsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.firstRow {
  display: grid;
  grid-template-columns: 5fr 4fr 4fr;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5.8rem;
}

.field {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 200%;

  p {
    color: var(--verde-1);
    font-weight: 500;

    span {
      color: var(--cinza-4);
      font-weight: 400;
      margin-right: 0.4rem;
    }
  }
}

.cardOptions {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
  z-index: 1;
  transition: 300ms;

  &:hover {
    scale: 1.05;
  }
}

.dropdownMenu {
  position: absolute;
  z-index: 1;
  top: 0rem;
  right: 3rem;
  background-color: var(--background-light);
  border-radius: 0.8rem;
  padding: 1rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.1);
  border: 1px solid var(--verde-2);

  &::before {
    content: '';
    position: absolute;
    top: 1rem;
    right: -0.6rem;
    height: 1rem;
    width: 1rem;
    background: var(--background-light);
    border-right: 1px solid var(--verde-2);
    border-top: 1px solid var(--verde-2);
    transform: rotate(45deg);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    z-index: 1;
    gap: 1.2rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.9rem;
      color: var(--verde-1) !important;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      transition: 300ms;

      &:hover {
        scale: 1.02;
      }
    }
  }
}

.dropdownMenu.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: 300ms ease;
}

.dropdownMenu.closed {
  opacity: 0;
  visibility: hidden;
  transform: translateX(2rem);
  transition: 300ms ease;
}

.lottie {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    height: 17.6rem;
  }
}

.deleteModalContent {
  text-align: center;
  padding: 3rem;

  h1 {
    color: var(--verde-1);
    font-size: 3rem;
    font-weight: 700;
    line-height: 186.4%;
    margin-bottom: 1rem;
  }

  p {
    color: var(--preto-principal);
    font-size: 1.8rem;
    line-height: 186.4%;
    margin-bottom: 1.5rem;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.2rem;
}