.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  margin-top: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  text-align: center;

  h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary);
  }

  p {
    font-size: 2rem;
    color: var(--primary-4);
    font-weight: 500;
    line-height: 150.9%;
    
    span {
      font-size: 2rem;
      font-weight: 600;
      line-height: 150.9%;
    }
  }
}

.view {
  height: 36rem;
  width: 36rem;
  position: relative;

  div {
    height: 100%;
  }
}
