.profile {
  margin: 16px 32px;

  .profilePhoto {
    margin-bottom: 30px;
    border: solid 2px black;
    border-radius: 50%;
  }

  .grid {
    width: max-content;
    display: grid;
    column-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    
    .inputContainer {
      margin-left: 16px;
      margin-bottom: 30px;
    }
  }

  .line {
    width: 80%;
    max-width: 600px;
    margin-left: 16px;
    height: 1px;
    background-color: #E5E8EB;
  }

  .title {
    margin: 30px 0;
    margin-left: 16px;
  }
}