.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  header {
    h1 {
      margin-left: 8rem;
      color: var(--verde-1);
      font-size: 3.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;

      span {
        font-size: 3.5rem;
      }
    }
  }
}

.lottie {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    height: 17.6rem;
  }
}

.deleteModalContent {
  text-align: center;

  h1 {
    color: var(--verde-1);
    font-size: 3rem;
    font-weight: 700;
    line-height: 186.4%;
    margin-bottom: 1rem;
  }

  p {
    color: var(--preto-principal);
    font-size: 1.8rem;
    line-height: 186.4%;
    margin-bottom: 1.5rem;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}

.switchStatusModalContent {
  padding: 1rem 7rem;

  h1 {
    color: var(--verde-1);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 186.4%;
  }

  .status {
    color: var(--preto-principal);
    text-align: center;
    font-size: 1.6rem;
    line-height: 186.4%;

    span {
      font-weight: 500 !important;
    }
  }

  .secondLine {
    color: var(--preto-principal);
    font-size: 1.8rem;
    line-height: 186.4%;
    text-align: center;

    span {
      color: var(--verde-2);
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 186.4%;
    }
  }

  .changes {
    border-radius: 1rem;
    border: 0.1rem solid rgba(94, 88, 107, 0.27);
    background: var(--background-light);
    margin-bottom: 1rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding: 1.5rem 4rem;
      width: fit-content;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
          color: var(--preto-principal);
          font-size: 1.4rem;
          line-height: 186.4%;

          span {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 186.4%;
          }
        }
      }
    }
  }
}

.checkboxContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 3rem;

  .label {
    color: var(--preto-principal);
    font-size: 1.4rem;
    line-height: 186.4%;
  }

  .checkmarkContainer {
    position: relative;
    font-size: 2.2rem;
    transition: 300ms;
    cursor: pointer;

    input {
      transition: 300ms;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: var(--verde-2);
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }
  }

  .checkmark {
    transition: 300ms;
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    border: 0.3rem solid var(--verde-2);
    border-radius: 0.2rem;

    &::after {
      content: '';
      display: none;
      position: absolute;
      left: 0.7rem;
      width: 0.5rem;
      height: 1rem;
      border: solid white;
      border-width: 0 0.3rem 0.3rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.xDaysToArchive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0rem3rem 1rem;

  span {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 186.4%;
    text-align: center;

    color: var(--vermelho-1);
  }

  p {
    color: var(--preto-principal);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 186.4%;

    span {
      color: var(--verde-2);
    }
  }
}

.noPendingExams {
  color: var(--preto-principal);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 186.4%;
  padding: 1rem 3rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.stroke {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 1.5rem 8rem 0;

  li {
    position: relative;
    text-align: center;
    font-size: 2.2rem;
    color: var(--verde-1);
    font-weight: 500;
    width: 100%;

    cursor: pointer;

    &:last-of-type {
      position: absolute;
      left: 0;
      top: 3.1rem;
      background-color: var(--verde-2);
      width: 50%;
      height: 0.56rem;

      transition: all 0.5s;

      &:after {
        all: unset !important;
      }
    }

    &:after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      margin: auto;
      width: 100%;
      content: '.';
      color: transparent;
      background: var(--cinza-2);
      z-index: -1;
      height: 0.55rem;
    }
  }
}

.candidateActive {
  transform: translateX(100%);
}
