.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    h1 {
      margin-left: 8.0rem;
      color: var(--primary);
      font-size: 3.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;

      span {
        font-size: 3.5rem
      }
    }
  }
}

.examInfo {
  position: relative;
  padding: 0 8.0rem 4.0rem;

  opacity: 1;
  max-height: 11.0rem;
  overflow-y: hidden;
  transition: all 1000ms ease;

  border-radius: .0rem .0rem 4.0rem 4.0rem;
  background: var(--neutral-75);
  box-shadow: .0rem 1.1rem 3.0rem -2.7rem var(--primary);

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    max-width: 50%;

    li {
      display: flex;
      align-items: center;
      color: var(--neutral-500);
      white-space: nowrap;

      span {
        color: var(--primary);
        font-weight: 500;
        margin-left: 1.0rem;
      }
    }
  }
}

.open {
  margin-top: 1.5rem;
  max-height: 100.0rem;
  opacity: 1;
  transition: all 1000ms ease;
}

.firstRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3.0rem;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  width: 26.0rem;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.0rem;

    p {
      color: #000;
      font-weight: 500;

      span {
        color: var(--primary-4);
        font-weight: 600;
      }
    }
  }
}

.secondRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: 500ms;

  div {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
    color: var(--neutral-500);
    max-width: 50%;

    span {
      color: var(--primary);
      font-weight: 500;
    }
  }
}

.buttonsRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .7rem;
  margin-top: 3.0rem;

  button {
    color: var(--neutral-0);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;

    border: none;
    border-radius: .5rem;
    box-shadow: .4rem .4rem 2.5rem .0rem rgba(40, 89, 67, 0.25);
  }
}

.arrowIconBx {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 5.0rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 2.7rem !important;
    fill: rgba(0, 0, 0, 0.54) !important;
    cursor: pointer;
  }
}

.lottie {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    height: 17.6rem;
  }
}

.deleteModalContent {
  text-align: center;

  h1 {
    color: var(--primary);
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 186.4%;
    margin-bottom: 1.0rem;
  }

  p {
    color: var(--secondary-3);
    font-size: 1.8rem;
    line-height: 186.4%;
    margin-bottom: 1.5rem;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}

.stroke {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 1.5rem;

  li {
    position: relative;
    font-size: 1.8rem;
    color: var(--primary);
    font-weight: 600;
    cursor: pointer;

    &,
    &:after,
    &:before {
      transition: all 0.5s;
    }

    &:after {
      position: absolute;
      bottom: -1.0rem;
      left: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: var(--primary);
      z-index: -1;
      height: .2rem;
    }

    &:hover:after {
      width: 100%;
    }

    &:hover {
      scale: 1.02;
      background-color: transparent;
    }
  }
}

.active {
  color: var(--primary);
  scale: 1.02;
  background-color: transparent;

  &:after {
    width: 100% !important;
  }
}

.switchStatusModalContent {
  padding: 1.0rem 7.0rem;

  h1 {
    color: var(--primary);
    text-align: center;
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 186.4%;
  }

  .status {
    color: var(--secondary-3);
    text-align: center;
    font-size: 1.6rem;
    line-height: 186.4%;

    span {
      font-weight: 500 !important;
    }
  }

  .secondLine {
    color: var(--secondary-3);
    font-size: 1.8rem;
    line-height: 186.4%;
    text-align: center;

    span {
      color: var(--primary-4);
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 186.4%;
    }
  }

  .changes {
    border-radius: 1.0rem;
    border: .1rem solid rgba(94, 88, 107, 0.27);
    background: var(--neutral-75);
    margin-bottom: 1.0rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: .7rem;
      padding: 1.5rem 4.0rem;
      width: fit-content;

      li {
        display: flex;
        align-items: center;
        gap: 1.0rem;

        p {
          color: var(--secondary-3);
          font-size: 1.4rem;
          line-height: 186.4%;

          span {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 186.4%;
          }
        }
      }
    }
  }
}

.confirmChanges {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.0rem;
  margin-left: 3.0rem;

  .label {
    color: var(--secondary-3);
    font-size: 1.4rem;
    line-height: 186.4%;
  }

  .checkboxContainer {
    position: relative;
    font-size: 2.2rem;
    transition: 300ms;
    cursor: pointer;

    input {
      transition: 300ms;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: var(--primary-4);
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }
  }

  .checkmark {
    transition: 300ms;
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    border: .3rem solid var(--primary-4);
    border-radius: .2rem;

    &::after {
      content: '';
      display: none;
      position: absolute;
      left: .7rem;
      width: .5rem;
      height: 1.0rem;
      border: solid white;
      border-width: 0 .3rem .3rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.xDaysToArchive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: .0rem 3.0rem 1.0rem;

  span {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 186.4%;
    text-align: center;

    color: var(--warning);
  }

  p {
    color: var(--secondary-3);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 186.4%;
    

    span {
      color: var(--primary-4);
    }
  }
}

.noPendingExams {
  color: var(--secondary-3);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 186.4%;
  padding: 1.0rem 3.0rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
