.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    h1 {
      margin-left: 80px;
      color: var(--primary);
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
}

.examInfo {
  position: relative;
  padding: 0 80px 40px;

  opacity: 1;
  max-height: 110px;
  overflow-y: hidden;
  transition: all 1000ms ease;

  border-radius: 0px 0px 40px 40px;
  background: var(--neutral-75);
  box-shadow: 0px 11px 30px -27px var(--primary);

  ul {
    display: flex;
    flex-direction: column;
    gap: 11px;
    max-width: 50%;

    li {
      display: flex;
      align-items: center;
      color: var(--neutral-500);
      white-space: nowrap;

      span {
        color: var(--primary);
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
}

.open {
  margin-top: 15px;
  max-height: 1000px;
  opacity: 1;
  transition: all 1000ms ease;
}

.firstRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

.secondRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: 500ms;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--neutral-500);
    max-width: 50%;

    span {
      color: var(--primary);
      font-weight: 500;
    }
  }
}

.buttonsRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  margin-top: 30px;

  button {
    color: var(--neutral-0);
    text-align: center;
    font-size: 16px;
    font-weight: 600;

    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 25px 0px rgba(40, 89, 67, 0.25);

  }
}

.arrowIconBx {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 27px !important;
    fill: rgba(0, 0, 0, 0.54) !important;
    cursor: pointer;
  }
}

.lottie {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    height: 176px;
  }
}

.modalContent {
  text-align: center;

  h1 {
    color: var(--primary);
    font-size: 30px;
    font-weight: 700;
    line-height: 186.4%;
    margin-bottom: 10px;
  }
  
  p {
    color: var(--secondary-3);
    font-size: 18px;
    line-height: 186.4%; 
    margin-bottom: 15px;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

.stroke {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;

  li {
    position: relative;
    font-size: 18px;
    color: var(--primary);
    font-weight: 600;
    cursor: pointer;

    &,
    &:after,
    &:before {
      transition: all 0.5s;
    }

    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: var(--primary);
      z-index: -1;
      height: 2px;
    }

    &:hover:after {
      width: 100%;
    }

    &:hover {
      scale: 1.02;
      background-color: transparent;
    }
  }
}

.active {
  color: var(--primary);
  scale: 1.02;
  background-color: transparent;

  &:after {
    width: 100% !important;
  }
}