@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --green-1: #285943;
  --green-2: #418265;
  --green-3: #8ed696;

  --vermelho-1: #ff4545;
  --vermelho-2: #ff7d7d;
  --vermelho-3: #e30613;

  --azul-1: #829ce4;
  --azul-2: #58497e;

  --cinza-1: #404040;
  --cinza-2: #b3b3c3;
  --cinza-3: #8c8895;
  --cinza-4: #5e586b;
  --cinza-5: #8c8895;
  --cinza-6: #f9f9f9;
  
  --background-light: #f2f2f2;
  
  --white: #ffffff;
  --preto-principal: #212b36;

  --font-disabled: #4f4d55;
  --bg-disabled: #c9c9c9;

  --btn-hover-confirm: #29875d;
  --btn-hover-action-1: #79c181;
  --btn-hover-action-2: #42a97b;
  --btn-hover-action-3: #fff9f9;

  --alert: #fbbb01;

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--green-1);
    border-radius: 1rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--green-3);
  }
}

body {
  background: var(--background-light);
  margin: auto;
  overflow-y: hidden;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: unset;

  &:visited {
    color: unset;
  }
}

ul {
  list-style: none;
}

p,
span,
li {
  font-size: 1.6rem;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
