.container {
  display: flex;
  height: 100vh;
}

.rightSection {
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 400ms ease;
}

.withHeader{
  height: calc(100vh - 82px);
}

.noHeader{
  height: 100vh;
}