.container {
  padding: 1.6rem 1.6rem 3.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.contentHeader{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  a{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    background: none;
    border: .1rem solid var(--cinza-4);
    border-radius: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--green-1);
    transition: 300ms ease-in-out;

    &:hover{
      scale: 1.05;
      background: var(--green-1);
      color: var(--white);
    }

    svg{
      transition: 300ms ease-in-out;
    }

    &:hover svg{
      fill: var(--green-3);
    }
  }
}

.cardsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
  padding: .5rem 1.5rem 1.5rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.cardsRow{
  width: 100%;
}

.divisor{
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  color: var(--cinza-4);
  margin: .5rem 0;

  p{
    white-space: nowrap;
    font-weight: 600;
    margin-right: .5rem;
  }

  hr{
    width: 100%;
    color: var(--cinza-4);
  }
}