.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 0.5rem;

  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;

  transition: 400ms;

  cursor: pointer;

  &:focus {
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    cursor: not-allowed;
    border: none;
    background-color: var(--bg-disabled);
    color: var(--font-disabled);
    font-weight: 400;
  }
}

.confirm {
  background-color: var(--green-1);
  color: var(--white)!important;

  &:hover,
  &:active {
    background-color: var(--btn-hover-confirm);
  }
}

.cancel {
  background-color: var(--white);
  color: var(--cinza-4); // Ou #627179 ?
  border: 1px solid var(--cinza-4); // Ou #627179 ?

  &:hover,
  &:active {
    background-color: var(--cinza-6);
  }
}

.delete {
  background-color: var(--vermelho-1);
  color: var(--white);
  font-weight: 500;

  &:hover,
  &:active {
    background-color: var(--vermelho-3);
  }
}

.edit {
  background-color: var(--white);
  color: var(--azul-2);
  border: 1px solid var(--azul-2);
  font-weight: 500;

  &:hover,
  &:active {
    background-color: var(--cinza-6);
  }
}

.action1 {
  background-color: var(--green-3);
  color: var(--green-1);
  font-weight: 500;

  &:hover,
  &:active {
    background-color: var(--btn-hover-action-1);
  }
}

.action2 {
  background-color: var(--green-2);
  color: var(--white);
  font-weight: 400;

  &:hover,
  &:active {
    background-color: var(--btn-hover-action-2);
  }
}

.action3 {
  background-color: var(--white);
  color: var(--cinza-4);
  border: 1px solid var(--azul-2);
  font-weight: 400;

  &:hover,
  &:active {
    background-color: var(--cinza-6);
  }
}

.action4 {
  background-color: var(--white);
  color: var(--cinza-4);
  border: 1px solid rgba(255, 69, 69, 0.70);
  font-weight: 400;

  &:hover,
  &:active {
    background-color: var(--cinza-6);
  }
}