.container {
  display: flex;
  flex-direction: column;
  background: var(--white);
  box-shadow: .0rem -0.2rem 3.0rem -1.7rem var(--green-1);
  border-radius: 4.0rem 4.0rem .0rem .0rem;
  padding: 3.6rem 7.2rem;
  position: relative;

  h2 {
    color: var(--green-1);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }

  button {
    position: absolute;
    bottom: 3.4rem;
    right: 4.7rem;
    width: 16.4rem;
    height: 4.1rem;

    background: var(--green-1);
    color: var(--white);
    box-shadow: .4rem .4rem 2.5rem .0rem rgba(40, 89, 67, 0.25);
    border: none;
    border-radius: .5rem;

    font-size: 1.6rem;
    font-weight: 600;

    cursor: pointer;
    transition: 400ms;

    &:hover {
      scale: 1.02
    }
  }
}

.content {
  display: flex;
  gap: 5.0rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    max-width: 50%;

    li {
      display: flex;
      align-items: center;
      color: var(--cinza-4);

      span {
        color: var(--green-1);
        font-weight: 500;
        margin-left: 1.0rem;
      }

      svg {
        font-size: 2.4rem;
      }
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
    color: var(--cinza-4);
    max-width: 60%;

    span {
      color: var(--green-1);
      font-weight: 500;
    }
  }
}
