.container {
  padding: 16px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  width: 70%;
  height: 60%;
}

.motionDiv {
  form {
    margin-top: 55px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px 20px;
      background: none;
      border: 1px solid var(--secondary);
      border-radius: 1.5rem;
      font-size: 16px;
      font-weight: 500;
      color: var(--primary);
      width: 250px;
      transition: 300ms ease-in-out;
      margin: 15px auto;

      &:hover {
        scale: 1.02;
        background: var(--primary);
        color: var(--neutral-50);
      }

      &:hover svg {
        fill: var(--neutral-50);
      }
    }
  }
}

.intro {
  h1 {
    color: var(--primary);
    font-size: 42px;
  }

  p {
    color: var(--secondary-2);
    font-size: 24px;
  }
}

.field {
  position: relative;
  margin: 15px 0px;
  width: 100%;

  div {
    width: 100%;
  }
}

.tooltip {
  position: absolute;
  width: unset !important;
  top: -10px;
  right: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 24px;
}

.toggles {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--secondary-2);

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

.finishingView {
  display: flex;

  h1{
    margin-bottom: 25px;
  }
}

.lottie {
  width: 100%;
  margin: auto;
  transform: translateY(-10%);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 50px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: none;
    border: 1px solid var(--secondary);
    border-radius: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
    transition: 300ms ease-in-out;
    width: 180px;

    &:hover {
      scale: 1.02;
    }
  }
}

.principalBtn{
  background-color: var(--primary)!important;
  color: var(--neutral-0)!important;
}