.field {
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    color: var(--cinza-4);
    font-size: 1.6rem;
    background: var(--background-light);
    transform: translateY(50%);
    width: fit-content;
    padding: 0 .4rem;
    margin-left: 1rem;

    span {
      color: #ff4545;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 1.6rem 1.2rem;
    resize: none;

    border: .1rem solid rgba(140, 136, 149, 1);
    border-radius: .4rem;

    font-size: 1.6rem;
    font-weight: 500;
    color: var(--cinza-4);
    background: transparent;

    transition: 400ms;

    &::placeholder {
      color: rgba(179, 179, 195, 1);
      font-weight: 400;
    }

    &:focus {
      border: .1rem solid var(--verde-1);
    }

    &[type="time"]::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: rgba(0, 0, 0, 0.6);
      margin: .3rem 1.2rem;
      font-size: 1.2rem;
      line-height: 2rem;
      letter-spacing: 0.04rem;
    }
  }
}

.innerText {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 400;
  top: 4.1rem;
  left: 4.8rem;
  color: var(--cinza-4);
}
