.sectionHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h2 {
    color: var(--cinza-4);
    font-size: 22px;
  }

  svg {
    cursor: pointer;
    fill: var(--cinza-4);
    margin-right: 10px;
    transform: 300ms;

    &:hover {
      fill: var(--green-1);
      scale: 1.05;
    }
  }
}

.headerSub {
  font-size: 14px;
  font-weight: 500;
}

.infosBox {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;

  div {
    span {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
}

.optionalInfos {
  border: 1px solid var(--cinza-2);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 15px 0;

    &:first-child {
      margin: 5px!important;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
    }

    input[type='date']::-webkit-inner-spin-button,
    input[type='date']::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }
}

.dateInput {
  background: none;
  border: none;
  color: var(--cinza-4);
  border-bottom: 1px solid var(--cinza-2);
  padding-bottom: 2px;
  text-align: center;
  transition: 300ms;
  cursor: text;

  &:hover, &:focus {
    border-color: var(--green-1);
  }
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 300ms;

  &:hover input ~ .checkmark {
    background-color: var(--green-3);
  }

  input {
    transition: 300ms;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: var(--green-1);
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }
}

.checkmark {
  transition: 300ms;
  position: absolute;
  top: -5px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  background-color: #eee;

  &::after {
    content: '';
    position: absolute;
    display: none;
  }

  &::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    border: none;
    border-radius: 10px;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--green-1);
    margin-right: 15px;
    transition: 300ms;
    cursor: pointer;

    &:hover {
      background-color: var(--green-3);
    }

    &:disabled {
      color: var(--cinza-4);
      background-color: var(--cinza-2);
      cursor: not-allowed;
    }
  }
}
