.inputField {
  width: 100%;

  .titleField {
    display: flex;
    margin-bottom: 4px;

    svg {
      margin-left: 12px;
      cursor: pointer;  
    }
    
    .delete {
      margin-left: 3px;
      color: #8f0000;
    }
  }

  p {
    padding: 4px 0px;
    word-wrap: break-word;
  }

  input {
    display: flex;
    border-radius: var(--border-radius);
    padding: 4px 8px;
    width: max-content;
    margin-top: -1px;
  }

  input[type=Date] {
    border: none;
  }

  select {
    padding: 2px 8px;
    padding-right: 16px;
    border-radius: var(--border-radius);
  }

  textarea {
    width: 80%;
    height: 50px;
    border-radius: var(--border-radius);
    padding: 8px 8px;
    resize: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}