.container {
  height: 100%;
  color: var(--secondary-2);
  overflow-y: scroll;
  padding-right: 10px;
}

.header {
  position: fixed;
  background-color: var(--neutral-50);
  z-index: 1000;
  height: 42px;
  padding-bottom: 50px;
  width: calc(100% - 64px);

  h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary) !important;
  }

  p {
    font-size: 14px;
  }
}

.contentHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      color: var(--secondary);
      font-weight: 500;
    }

    select {
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--neutral-100);
      padding: 10px 5px;
      font-size: 16px;
      color: var(--secondary-2);
      transition: 300ms;
      cursor: pointer;

      &:focus {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
      }

      option {
        padding: 5px;

        &:hover {
          background-color: var(--primary-2);
        }
      }
    }

    input {
      background: var(--neutral-0);
      border: 1px solid var(--neutral-100);
      border-radius: 5px;
      padding: 6px 4px;
      width: 40%;
      margin-right: 5px;
      font-size: 16px;
      color: var(--secondary-2);
      transition: 300ms;
      cursor: pointer;

      &::placeholder {
        color: var(--neutral-200);
      }

      &:focus {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
      }
    }
  }
}

.contentBox {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    color: var(--secondary);
    font-weight: 500;
  }

  span {
    color: var(--secondary-2) !important;
  }
}

.multipleChoiceContainer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  h3 {
    color: var(--secondary);
    font-weight: 500;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
  }

  button {
    align-self: flex-end;
    width: 200px;
    height: 30px;
    margin: 5px 20px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    transition: 300ms;
    background-color: var(--primary);
    color: var(--neutral-50);

    &:hover {
      scale: 1.05;
    }
  }
}

.option {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  align-items: center;
  margin: 10px 0;

  h4 {
    color: var(--secondary-2);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
  }

  input {
    background: var(--neutral-0);
    border: 1px solid var(--neutral-100);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;

    &::placeholder {
      color: var(--neutral-200);
    }
  }
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 300ms;

  &:hover input ~ .checkmark {
    background-color: var(--primary-2);
  }

  input {
    transition: 300ms;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: var(--primary);
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }
}

.checkmark {
  transition: 300ms;
  position: absolute;
  top: -5px;
  left: 50%;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  background-color: var(--neutral-100);
  transform: translateX(-50%);

  &::after {
    content: '';
    position: absolute;
    display: none;
  }

  &::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.gradingRubricContainer {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  h3 {
    color: var(--secondary);
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.gradingRubricInput {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 5px;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    label {
      color: var(--secondary-2);
      font-weight: 500;
    }

    input {
      width: 100%;
      background: var(--neutral-0);
      border: 1px solid var(--neutral-100);
      border-radius: 5px;
      padding: 10px 15px;
      font-size: 14px;

      &::placeholder {
        color: var(--neutral-200);
      }
    }
  }

  button {
    border: none;
    white-space: nowrap;
    border-radius: 10px;
    padding: 4px 18px;
    font-size: 14px;
    font-weight: 500;
    color: var(--neutral-0);
    background-color: var(--primary);
    margin: 0 0 5px 15px;
    transition: 300ms;
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }

    &:disabled {
      color: var(--secondary-2);
      background-color: var(--neutral-100);
      cursor: not-allowed;
    }
  }
}

.gradingRubricCard {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--neutral-50);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 5px;

  h3 {
    color: var(--secondary-2);
    font-weight: 500;
  }

  input,
  textarea {
    background: var(--neutral-0);
    border: 1px solid var(--neutral-100);
    border-radius: 5px;
    padding: 6px 5px;
    width: 80px;
    margin: 0 5px;
    font-size: 16px;
    color: var(--secondary-2);
    transition: 300ms;

    &::placeholder {
      color: var(--neutral-200);
    }

    &:focus {
      color: var(--primary);
      border: 1px solid var(--primary);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

.criteriaContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin: 10px 0;
}

.criteriaInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  textarea {
    width: 100%;
    resize: none;
  }

  label {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
    margin-left: 10px;
  }
}

.criteriaValues {
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      font-size: 12px;
      font-weight: 500;
      color: var(--primary);
      text-align: center;
      margin-right: 5px;
    }
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    text-transform: capitalize;
  }

  svg {
    fill: var(--warning);
    cursor: pointer;
    transition: 400ms;

    &:hover {
      scale: 1.05;
    }
  }
}

.optionalInfos {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 15px;

    h4 {
      color: var(--secondary);
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--neutral-100);
      padding: 2px 5px;
      margin-right: 5px;
      font-size: 16px;
      color: var(--secondary-2);
      transition: 300ms;
      cursor: pointer;
      width: 80px;

      &:focus {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
      }
    }

    select {
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--neutral-100);
      padding: 2px 5px;
      font-size: 16px;
      color: var(--secondary-2);
      transition: 300ms;
      cursor: pointer;
      width: 80px;

      &:focus {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
      }

      option {
        padding: 5px;

        &:hover {
          background-color: var(--primary-2);
        }
      }
    }
  }
}

.actions {
  hr {
    opacity: 0.3 !important;
    width: 95%;
    margin: 15px auto;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

    button {
      width: 120px;
      height: 30px;
      border-radius: 5px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      transition: 300ms;

      &:hover {
        scale: 1.05;
      }
    }
  }
}

.cancel {
  background-color: var(--neutral-100);
  color: var(--secondary-2);
}

.submit {
  background-color: var(--primary);
  color: var(--neutral-50);
}

.techOptions {
  margin-top: 15px;

  ul {
    display: flex;
    gap: 15px;

    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.customQuillStyle * {
  background: white !important;
}
