.card {
  min-width: 300px;
  max-width: 360px;
  height: 220px;
  // margin: auto;
  border-radius: 30px;
  box-shadow: var(--box-shadow-1);

  // &:hover {
  //   scale: 1.04;
  //   transition: all 0.15s;
  // }

  .header {
    position: relative;
    display: flex;
    height: 60px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    justify-content: center;

    .photoContainer {
      // position: relative;
      display: flex;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 30px;

      .logo {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .editPhoto {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        left: 0;
        border: solid 1px black;
        border-radius: 50%;
        background-color: rgba(229, 229, 229, 0.90);
        cursor: pointer;

        svg {
          width: 36px;
          height: 36px;
        }
      }
    }

    .editIcon {
      position: absolute;
      right: 0;
      margin: 16px;

      &:hover {
        cursor: pointer;
      }

      svg {
        width: 26px;
        height: 26px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    height: calc(100% - 100px);
    width: 100%;

    .title {
      font-size: 18px;
      text-align: center;
      width: 60%;
      margin: 0 auto;
    }

    .company {
      font-size: 16px;
      color: var(--legend);
      font-weight: bold;
      text-align: center;
      width: 60%;
      margin: 0 auto;
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      color: var(--legend);

      p {
        text-align: center;
        width: 80%;
      }
    }
  }
}
