.card {
  min-width: 350px;
  max-width: 400px;
  padding-bottom: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-1);
  background-color: var(--background);
}

.header {
  position: relative;
  display: flex;
  height: 60px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  justify-content: center;

  img {
    display: flex;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    border-radius: 50%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 40px;
  width: 100%;

  h2 {
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  span {
    font-size: 16px;
    color: var(--legend);
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
}